body  {
    background-image: url("porsche_911_carrera_rsr_porsche_sports_car_139640_3840x2400.jpg");
    background-color: #cccccc;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

li {
    font-size: 20px;
    display: inline;
    padding-right: 25px;
    text-decoration: none;    
}

nav ul {
    text-align: right;
    text-decoration: none;
    
}

nav ul li a {
    text-decoration: none;
    color: aqua;
    font-family: 'Dancing Script', cursive;font-family: 'Dancing Script', cursive;
    
}
nav ul li a:hover{
    color: rgba(248, 51, 173, 0.767);
}
.bs-txt1 {
    font-family: 'Dancing Script', cursive;font-family: 'Dancing Script', cursive;
    color: aqua;
}

.bs-txt2 {
    font-family: 'Dancing Script', cursive;font-family: 'Dancing Script', cursive;
    color: aqua;
}

p {
    font-family: 'Dancing Script', cursive;font-family: 'Dancing Script', cursive;
    color: aqua;
    margin-left: 140px;
}

.bs-img1{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img2{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img3{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img4{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img5{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img6{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img7{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img8
{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img9{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img10{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img11{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img12{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img13{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img14{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img15{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img16{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img17{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img18{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img19{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img20{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img21{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img22{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img23{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img24{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img25{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img26{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img27{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img28{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img29{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img30{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img31{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img32{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img33{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img34{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img35{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img36{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img37{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img38{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}


.bs-img39{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img40{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img41{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img42{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img43{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img44{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img45{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img46{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img47{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img48{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img49{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img50{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img51{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}

.bs-img52{

    width: 1050px;
    height: 650px;
	margin-left: 100px;
}
