#bs-title{
    text-decoration: none;
    color: aqua;
    font-family: 'Dancing Script', cursive;font-family: 'Dancing Script', cursive;
    font-size: 28px;
    background-image: url("porsche_911_carrera_rsr_porsche_sports_car_139640_3840x2400.jpg");
    background-color: #cccccc;
    background-size: 100%;
    background-size: cover;
        
}



nav ul li {
    font-size: 20px;
    display: inline;
    padding-right: 25px;
    text-decoration: none;
    margin-bottom: 200px;
}

nav ul {
    text-align: right;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: aqua;
    font-family: 'Dancing Script', cursive;font-family: 'Dancing Script', cursive;
    margin-top: 10px;
} 

nav ul li a:hover{
    color: rgba(248, 51, 173, 0.767);
}

.bs-txt {
    font-family: 'Dancing Script', cursive;font-family: 'Dancing Script', cursive;
    color: aqua;
}

.bs-paragraph {
    font-family: 'Dancing Script', cursive;font-family: 'Dancing Script', cursive;
    color: aqua;
    font-size: 50px;
    margin-top: 410px;
    margin-left: 180px;
}

img{
    mix-blend-mode: multiply;
}

.bs-img1{

    width: auto;
    height: auto;
	margin-left: 400px;
}

.bs-img2{

    width: auto;
    height: auto;
	margin-left: 400px;
}

.bs-img3{

    width: 1100px;
    height: 500px;
	margin-left: 90px;
    margin-top: 100px
}

.bs-img4{

    width: 300px;
    height: 300px;
	margin-left: 400px;
}

.bs-img5{

    width: auto;
    height: auto;
	margin-left: 400px;
}